@import url('https://fonts.googleapis.com/css?family=Montserrat:200,500,800&display=swap');

$color-primary: #00487c;
$color-secondary: #fa8a4a;
$color-secondary-light: #f7bd46;
$color-danger: #ff4876;
$color-success: #4caf50;
$color-dark: #151f36;
$color-light: #f5f5f5;
$color-light-grey: #76808f;

h1,
h2,
h3,
h4,
h5,
div,
a {
  font-family: 'Montserrat';
}

/**
|--------------------------------------------------
| Media Query Variables
|--------------------------------------------------
*/
// extra small device
$xs-device: '(max-width: 599px)';

// Small devices (landscape phones, 599px and up)
$sm-device: '(min-width: 600px) AND (max-width: 959px)';

// Medium devices (tablets, 960px and up)
$md-device: '(min-width: 960px) AND (max-width: 1279px)';

// Large devices (desktops, 1280px and up)
$lg-device: '(min-width: 1280px) AND (max-width: 1919px)';

// Extra large devices (large desktops, 1920px and up)
$xl-device: '(min-width: 1920px)';

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  box-shadow: none !important;
  -webkit-appearance: none;
}
